{% extends 'account/base.html' %}

{% block title %}Login{% endblock title %}


{% block content %}
    <h1>Login</h1>
    
    {% if form.errors %}
        <p>
            Your name and password didn't match.
            Please try again.
        </p>
    {% else %}
        <p>
            Please use the following form to login:
        </p>
    {% endif %}
    <div class="container">
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
        <p>
            <a href="{% url 'account:password_reset' %}">Forgot password?</a>
        </p>
    </div>
        
{% endblock content %}
        