{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Create / Update
{% endblock title %}


{% block content %}
  <h1>
    {% if 'add' in request.path|slice:'-7:' %}
    Create Reference
    {% else %}
    Update Reference
    {% endif %}
  </h1>  

  <form action="" method="POST">
    {% for field in form %}
            <div class="row">
                <div class="col">
                    {{ field |as_crispy_field }}
                </div>
            </div>
        {% endfor %}
        {% csrf_token %}
        <br>
        <p><input type="submit" 
            value="{% if 'add' in request.path|slice:'-10:' %}Create{% else %}Update{% endif %}" class="btn btn-primary">
          </p>
  </form>
{% endblock content %}